files:
  "/etc/filebeat/filebeat.yml":
    mode: "000755"
    owner: root
    group: root
    content: |
      filebeat.prospectors:
      - input_type: log
        paths: /var/tmp/logs/sca-events/sca-events.log
      fields:
        env_type: '${ENV_CLASS}'
        env_name: '${ENV_SHORT_NAME}'
      output.elasticsearch:
        hosts: '${ELASTIC_HOST}'
        headers:
          x-api-key: '${DATALENS_API_KEY}'
      logging.files:
        path: /var/log
        # The name of the files where the logs are written to.
        name: filebeat.log
        keepfiles: 7

commands:
  1_command:
    command: "source /opt/elasticbeanstalk/support/envvars"
  2_command:
    command: "/etc/init.d/filebeat start"