files:
  "/etc/filebeat/filebeat.yml":
    mode: "000755"
    owner: root
    group: root
    content: |
      filebeat.prospectors:
      - input_type: log
        paths: /var/tmp/logs/sca-events/sca-events.log
        json: {}
      fields:
        env_type: non-prod
        env_name: ci
      output.elasticsearch:
        hosts: ["https://in.datalens.nordstrom.com:443/nonprod/elasticsearch/dsorg-scaprocessor-applog"]
        headers:
          x-api-key: WHiLQjHDpf9avRxM155sTMHUw8T5FXedT41Z
      logging.files:
        path: /var/log
        # The name of the files where the logs are written to.
        name: filebeat.log
        keepfiles: 7

commands:
  1_command:
    command: "/etc/init.d/filebeat start"