files:
  "/etc/filebeat/filebeat.yml":
    mode: "000755"
    owner: root
    group: root
    content: |
      filebeat.prospectors:
      - input_type: log
        paths: /var/tmp/logs/sca-events/sca-events.log
      fields:
        env_type: "ENV_CLASS"
        env_name: "ENV_SHORT_NAME"
      output.elasticsearch:
        hosts: ["FILEBEAT_URL"]
        template.enabled: false
        headers:
          x-api-key: "FILEBEAT_API_KEY"
      logging.files:
        path: /var/log
        # The name of the files where the logs are written to.
        name: filebeat.log
        keepfiles: 7

commands:
  01UpdateFilebeatYaml-envclass:
    command: sudo sed -i 's#ENV_CLASS#'"${ENV_CLASS}"'#' /etc/filebeat/filebeat.yml
  02UpdateFilebeatYaml-envname:
    command: sudo sed -i 's#ENV_SHORT_NAME#'"${ENV_SHORT_NAME}"'#' /etc/filebeat/filebeat.yml
  03UpdateFilebeatYaml-url:
    command: sudo sed -i 's#FILEBEAT_URL#'"${FILEBEAT_URL}"'#' /etc/filebeat/filebeat.yml
  04UpdateFilebeatYaml-apikey:
      command: sudo sed -i 's#FILEBEAT_API_KEY#'"${FILEBEAT_API_KEY}"'#' /etc/filebeat/filebeat.yml
  05_StartFileBeat:
    command: "/etc/init.d/filebeat start"
    ignoreErrors: true
